body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
    margin: 1em;
    margin-bottom: 2em;
}

.content * {
    font-family: Inter, sans-serif;
}

.input-margin {
    margin-top: 1em;
    margin-bottom: 1em;
}

.inline-parent {
    display: flex;
}

.inline-child {
}

.vert-centered {
    display: flex;
    align-items: center;
}

.hor-centered {
    display: flex;
    justify-content: center;
}

.hor-centered-text {
    text-align: center;
}

.width-80 {
    width: 80%;
}

.width-60 {
    width: 60%;
}

.full-width {
    width: 100%;
}

.start-button {
    width: 50%;
}

.header-clickable {
    padding: 0.6em;
    padding-left: 1em;
    cursor: pointer;
    width: fit-content;
}

.header-logo {
    height: 3.5em;
}

.header-text {
    font-family: Inter, sans-serif;
    font-size: 1.5em;
    padding-left: 0.75em;
}

.playlist-info-column {
    margin-left: 2em;
}

.playlist-image {
    height: 15em;
}

.playlist-description {
    margin-bottom: 2em;
}

.profile-image {
    height: 2.2em;
}

.start-ranking-button {
    width: 11em;
    height: 4em;
}

.clickable {
    cursor: pointer;
}

.underlined {
    text-decoration-line: underline;
}

.divider {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-left: 8.5%;
    padding-right: 8.5%;
}

.remove-default {
    all: unset;
}

.full-height {
    height: 100%;
}

.grid-album-image {
    height: 3em;
}

.grid-deleted-checkbox {
    transform: scale(1.5);
}

.ag-theme-quartz {
    --ag-row-height: 3em !important;
    --ag-font-size: 18px !important;
}

.ranking-wizard {
    margin-top: 2em;
}

.ranking-instruction {
    margin-left: 2em;
    margin-right: 2em;
    font-size: 1.75em;
}

.ranking-option {
    border: rgba(51, 56, 61, 0.5) 1px solid;
    border-radius: 0.75em;
    padding: 2em;
    width: 37%;
    position: relative;
    z-index: 1;
}

.grey-overlay {
    background-color: rgba(51, 56, 61, 0.16);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.ranking-option * {
    display: flex;
    justify-content: center;
}

.ranking-image {
    height: 18em;
}

.ranking-artist-image {
    height: 3em;
}

.ranking-artist-name {
    margin-left: 1em;
    font-size: 1.15em;
}

.ranking-option-track-name {
    font-size: 1.3em;
}

.ranking-option-album-name {
    font-size: 1.25em;
}

.ranking-option-row {
    margin-top: 1em;
}

.reset-rankings-button-margin {
    margin: 2em;
}

.reset-rankings-button {
    width: 20em;
}

.audio-preview {
    margin-top: 2em;
}